#root {
  max-width: 1280px; /* Esto centra el contenedor #root horizontalmente */
  margin: 0 auto;
  /* ¡IMPORTANTE! Hemos eliminado el padding de #root para quitar el borde blanco */
  /* padding: 2rem; */
  /* text-align: center; */ /* Esta línea ha sido comentada/eliminada para quitar el centrado de texto global */
}

/* Para reducir o eliminar el padding vertical de la barra de navegación */
.navbar {
  padding-top: 0.5rem;    /* Ajusta este valor (ej. 0.5rem para un poco de padding, o 0 para eliminarlo) */
  padding-bottom: 0.5rem; /* Ajusta este valor */
  /* Si quieres eliminar todo el padding vertical de golpe y mantener el horizontal de 1rem: */
  /* padding: 0 1rem !important; */
}

/* Opcional: Para ajustar el padding interno de la marca dentro de la navbar si el anterior no es suficiente */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #dac06dcd);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #2cc605aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}